body {
	font-family: Courier, monospace;
	color: black;
	background-color: white;
	margin: 0em;
	padding: 3em;
	padding-top: 1em;
	width: 810px;
}

div {
	padding: 0px;
	margin: 0;
/*
	border: 1px solid black;
 */
	border: none;
}

em {
/* 	background-color: yellow; */
    background-color: rgba(255,255,0,0.5);
	font-style: normal;
	font-weight: normal;
}

a {
	background-color: none;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
}

a:hover {
 	background-color: lightblue;
    text-decoration: none;
}

/* ------------------------------------------------------------------------------------ */

#about {
	font-size: 80%;
	color: grey;
}

form {
	padding: 0em;
	margin: 0em;
}

input {
	font-family: Courier, monospace;
	font-size: 100%;
	color: black;
	text-transform: uppercase;
	background-color: white;
	border: 1px solid black;
	margin: 0em;
	padding: 10px;
/*	width: 300px; */
	display: block;
}

label {
    padding-left: 10px;
}

.search {
/*
	border: 1px solid black;
 */
}

.search_input {
    display: inline;
    float: left;
    margin: 5px;
    margin-bottom: 10px;
}

.search_input_big {
	width: 280px;
}

.search_input_small {
	width: 150px;
}
/* ------------------------------------------------------------------------------------ */

.results {
    height: auto;
    padding: 5px;
    margin-bottom: 15px;
/*
    width: 985px;
 */
/*
    border: 1px solid black;
 */
}

.info {
    margin-bottom: 10px;
    font-size: 80%;
}

.url {}

.stats {}

.error {
	color: red;
}

.title {}

.item {
    margin-bottom: 5px;
    position: relative;
}

.detail {
    color: grey;
    font-size: 85%;
}

.docs-item {
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
/*
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 */
}

.aggs-item {
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
}

.agg-text {
    padding-left: 5px;
/*
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 */
}

.agg-value {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: darkseagreen;
    z-index: -1;
}
