body {
	font-family: Courier, monospace;
	font-size: 100%;
	color: black;
	background-color: white;
	margin: 0em;
	padding: 3em;
}

div {
	padding: 0px;
	margin: 0;
	border: 1px solid black;
	border: none;
}

em {
	background-color: yellow;
	font-style: normal;
	font-weight: normal;
}

a {
	background-color: orange;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: black;
	background-color: PaleGoldenRod;
}

a:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------------ */

form {
	padding: 0em;
	margin: 0em;
}

input {
	font-family: Courier, monospace;
	font-size: 100%;
	color: black;
	text-transform: uppercase;
	background-color: white;
	border: 1px solid black;
	margin: 0em;
	margin-bottom: 10px;
	padding: 10px;
	width: 20em;
	display: block;
}

label {
    padding-left: 10px;
}

.search {
    display: inline;
    float: left;
    margin: 5px;
}

/* ------------------------------------------------------------------------------------ */

.results {
    height: auto;
    padding: 5px;
}

.stats {
    margin-bottom: 1em;
}

.item {
    margin-bottom: 0.5em;
}

.detail {
    color: grey;
    font-size: 85%;
/*     white-space: pre; */
/*     border: 1px solid red; */
}
