body {
	font-family: Courier, monospace;
	font-size: 100%;
	color: black;
	background-color: white;
	margin: 0em;
	padding: 3em;
	padding-top: 1em;
}

div {
	padding: 0px;
	margin: 0;
	border: 1px solid black;
	border: none;
}

em {
/* 	background-color: yellow; */
    background-color: rgba(255,255,0,0.5);
	font-style: normal;
	font-weight: normal;
}

a {
	background-color: orange;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: black;
/* 	background-color: PaleGoldenRod; */
/* 	background-color: bisque; */
    background-color: rgba(255,223,181,0.5);
	padding-left: 2px;
	padding-right: 2px;

}

a:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------------ */

form {
	padding: 0em;
	margin: 0em;
}

input {
	font-family: Courier, monospace;
	font-size: 100%;
	color: black;
	text-transform: uppercase;
	background-color: white;
	border: 1px solid black;
	margin: 0em;
/*	margin-bottom: 10px; */
	padding: 10px;
/*	width: 300px; */
	display: block;
}

label {
    padding-left: 10px;
}

.search {
    display: inline;
    float: left;
    margin: 5px;
    margin-bottom: 10px;
}

.big {
	width: 280px;
}

.small {
	width: 150px;
}
/* ------------------------------------------------------------------------------------ */

.results {
    height: auto;
    padding: 5px;
    margin-bottom: 15px;
    width: 985px;
}

.info {
    margin-bottom: 10px;
    font-size: 80%;
}

.url {}

.stats {}

.error {
	color: red;
}

.title {}

.item {
    margin-bottom: 5px;
    position: relative;
}

.detail {
    color: grey;
    font-size: 85%;
/*     white-space: pre; */
/*     border: 1px solid red; */
}

.agg-item {
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
}

.agg-text {
    padding-left: 5px;
}

/*
.agg-text em {
    background-color: rgba(255,255,0,0.5);
}
 */

.agg-value {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
/*     background-color: powderblue; */
/*     background-color: aliceblue; */
    background-color: darkseagreen;
/*     background-color: lavender; */
/*     background-color: #dddddd; */
/*     background-color: rgba(125,178,123,0.7); */
    z-index: -1;
}
